{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application that uses the ASP.NET Core framework running in Amazon Lambda.",
  "Parameters": {},
  "Conditions": {},
  "Resources": {
    "FaizAdd": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "ServerlessFaizPoc",
        "Runtime": "dotnet8",
        "CodeUri": "",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "Events": {
          "RootResource": {
            "Type": "Api",
            "Properties": {
              "Path": "/calculator/add/{x}/{y}",
              "Method": "GET"
            }
          }
        }
      }
    },
    "FaizSub": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "ServerlessFaizPoc",
        "Runtime": "dotnet8",
        "CodeUri": "",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "Events": {
          "RootResource": {
            "Type": "Api",
            "Properties": {
              "Path": "/calculator/subtract/{x}/{y}",
              "Method": "GET"
            }
          }
        }
      }
    },
    "FaizValue": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "ServerlessFaizPoc",
        "Runtime": "dotnet8",
        "CodeUri": "",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "Events": {
          "ValueRoot": {
            "Type": "Api",
            "Properties": {
              "Path": "/value",
              "Method": "GET"
            }
          },
          "ValueProxy": {
            "Type": "Api",
            "Properties": {
              "Path": "/value/{proxy+}",
              "Method": "GET"
            }
          }
        }
      }
    }
  },
  "Outputs": {
    "ApiURL": {
      "Description": "API endpoint URL for Prod environment",
      "Value": {
        "Fn::Sub": "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/"
      }
    }
  }
}