name: Check Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: Select the environment to deploy to
        default: "Development"
      project:
        description: The project to deploy
        required: true
        default: "all"
        type: choice
        options:
        - Sandbox.Api.Roles
        - Sandbox.Api.Users
  push:
    branches:
    - main
    - develop
    - staging
    - qa

jobs:

  preflight:
    name: Preflight Checks
    runs-on: ubuntu-latest

    outputs:
      environment: ${{ steps.check_env.outputs.name-of-environment }}

    steps:
    - name: Check Environment Input
      id: check_env
      run: |
        if [ "${{ github.event.inputs.environment }}" == "" ]; then
          # switch based on the brach name
          # main branch is production environment
          # staging branch is staging environment
          # qa branch is qa environment
          # develop branch is development environment
          case "${{ github.ref }}" in
            refs/heads/main)
              echo "name-of-environment=Development" >> $GITHUB_OUTPUT
              ;;
            refs/heads/staging)
              echo "name-of-environment=Staging" >> $GITHUB_OUTPUT
              ;;
            refs/heads/qa)
              echo "name-of-environment=QA" >> $GITHUB_OUTPUT
              ;;
            refs/heads/develop)
              echo "name-of-environment=Development" >> $GITHUB_OUTPUT
              ;;
            *)
              echo "name-of-environment=Development" >> $GITHUB_OUTPUT
              exit 1
              ;;
          esac
        fi

    - name: Display Environment
      run: |
        echo "Detected Environment: ${{ steps.check_env.outputs.name-of-environment }}"

  display:
    name: Display Environment Variables
    runs-on: ubuntu-latest
    needs: preflight
    environment: ${{ github.event.inputs.environment || needs.preflight.outputs.environment }}

    # These permissions are required to restore from GitHub Packages
    permissions:
      contents: read
      packages: read

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_CONFIGURATION: ${{ vars.AWS_CONFIGURATION }}
      AWS_PROFILE: ${{ vars.AWS_PROFILE }}
      AWS_REGION: ${{ vars.AWS_REGION }}
      AWS_S3_BUCKET: ${{ vars.AWS_S3_BUCKET }}
      AWS_S3_PREFIX: ${{ vars.AWS_S3_PREFIX }}
      AWS_STACK_NAME: ${{ vars.AWS_STACK_NAME }}
      AWS_TEMPLATE: ${{ vars.AWS_TEMPLATE }}
    
    steps:
    - name: Display Environment Variables
      run: |
        echo "Environment: ${{ github.event.inputs.environment }}"
        echo "Project: ${{ github.event.inputs.project }}"
        echo "AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID"
        echo "AWS_SECRET_ACCESS_KEY: $AWS_SECRET"
        echo "AWS_CONFIGURATION: $AWS_CONFIGURATION"
        echo "AWS_PROFILE: $AWS_PROFILE"
        echo "AWS_REGION: $AWS_REGION"
        echo "AWS_S3_BUCKET: $AWS_S3_BUCKET"
        echo "AWS_S3_PREFIX: $AWS_S3_PREFIX"
        echo "AWS_STACK_NAME: $AWS_STACK_NAME"
        echo "AWS_TEMPLATE: $AWS_TEMPLATE"
        